@charset "utf-8";

html,body{background-color:transparent;}
#popup_wrap{background-color:#ffc300; padding:0 8px 8px; border-radius:30px; overflow:hidden;}
#popup_wrap h1.title{font-size:30px; text-align:center; color:#292929; font-weight:300; letter-spacing:-0.045em; padding:35px 0 29px}
#popup_wrap .popup_content{background-color:#fff; padding:0 22px; border-radius:0 0 30px 30px;}

/* 원산지정보 */
#popup_wrap .country_origin_wrapper{padding:22px 0 32px;}
#popup_wrap .country_origin_wrapper .scrollwrapper{height:566px; overflow:hidden;}
#popup_wrap .country_origin_wrapper .scrollwrapper .mCSB_inside>.mCSB_container{margin-right:0}
#popup_wrap .country_origin_wrapper .scrollwrapper .mCustomScrollBox{padding-right:20px;}
#popup_wrap .country_origin_wrapper .scrollwrapper .mCSB_scrollTools{width:4px !important; top:10px !important; bottom:10px !important; opacity:1 !important;}
#popup_wrap .country_origin_wrapper .scrollwrapper .mCSB_scrollTools .mCSB_draggerRail{opacity:0 !important}
#popup_wrap .country_origin_wrapper .scrollwrapper .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{opacity:1 !important; background-color:#dddddd; width:4px;}

#popup_wrap .country_origin_wrapper li{border-top:1px solid #e8e8e8; overflow:hidden; padding:18px 0 18px 30px;}
#popup_wrap .country_origin_wrapper li:first-child{border-top:0}
#popup_wrap .country_origin_wrapper .icon{text-align:center; float:left;}
#popup_wrap .country_origin_wrapper .icon span{display:block; font-size:16px; color:#009223; font-weight:300; margin-top:8px;}
#popup_wrap .country_origin_wrapper .info{margin:18px 0 0 130px;}
#popup_wrap .country_origin_wrapper .info dl{overflow:hidden;}
#popup_wrap .country_origin_wrapper .info dl dt{float:left; color:#292929; font-size:16px; font-weight:300; letter-spacing:-0.03em; padding-right:2px;}
#popup_wrap .country_origin_wrapper .info dl dd{ padding-bottom:7px; letter-spacing:-0.03em;}


/* 알레르기정보, 토핑/사이드-영양성분표 */
#popup_wrap .allergy_wrapper{padding:34px 0 32px; margin-right:-20px;}
#popup_wrap .allergy_wrapper.ver_nutrition_acts{padding:8px 0;}

#popup_wrap .allergy_wrapper .scrollwrapper{height:566px; overflow-y:scroll;}
#popup_wrap .allergy_wrapper .scrollwrapper .mCSB_inside>.mCSB_container{margin-right:0}
#popup_wrap .allergy_wrapper .scrollwrapper .mCustomScrollBox{padding-right:20px;}
#popup_wrap .allergy_wrapper .scrollwrapper .mCSB_scrollTools{width:4px !important; top:10px !important; bottom:10px !important; opacity:1 !important;}
#popup_wrap .allergy_wrapper .scrollwrapper .mCSB_scrollTools .mCSB_draggerRail{opacity:0 !important}
#popup_wrap .allergy_wrapper .scrollwrapper .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{opacity:1 !important; background-color:#dddddd; width:4px;}

#popup_wrap .allergy_wrapper .summary{color:#666666; font-size:16px; line-height:26px; text-align:center; letter-spacing:-0.045em; margin-bottom:38px;}
#popup_wrap .allergy_wrapper .summary .icon_type{text-align:center; color:#666666; font-size:13px; margin-top:15px;}
#popup_wrap .allergy_wrapper .summary .icon_type >span{position:relative; top:-1px; margin-left:10px;}
#popup_wrap .allergy_wrapper .notice{background-color:#f6f6f6; position:relative;}
#popup_wrap .allergy_wrapper .notice:after{content:''; position:absolute; left:25px; top:20px; width:40px; height:40px; background:url(../images/common/icon_exc.png) 0 0 no-repeat;}
#popup_wrap .allergy_wrapper .notice ul{padding:14px 0 16px 92px;}
#popup_wrap .allergy_wrapper .notice ul li{color:#999999; font-size:13px; line-height:23px; letter-spacing:-0.015em}

#popup_wrap .allergy_wrapper .food_tab{border-right:1px solid #e5e5e5; height:97px; border-bottom:1px solid #e5e5e5; overflow:hidden; margin:40px 0 20px;}
#popup_wrap .allergy_wrapper .food_tab ul{overflow:hidden; border-top:1px solid #e5e5e5; border-left:1px solid #e5e5e5; margin-right:-1px;}
#popup_wrap .allergy_wrapper .food_tab ul li{float:left; width:205px; border-bottom:1px solid #e5e5e5; border-right:1px solid #e5e5e5;}
#popup_wrap .allergy_wrapper .food_tab ul li:nth-child(4n+1){width:206px;}
#popup_wrap .allergy_wrapper .food_tab ul li a{display:block; text-align:center; font-size:16px; color:#666666; height:48px; line-height:48px; letter-spacing:-0.015em}
#popup_wrap .allergy_wrapper .food_tab ul li.active{background-color:#58006c;}
#popup_wrap .allergy_wrapper .food_tab ul li.active a{color:#fff;}

#popup_wrap .allergy_wrapper .food_table{border-top:4px solid #009223}
#popup_wrap .allergy_wrapper .food_table table {table-layout: fixed;}
#popup_wrap .allergy_wrapper .food_table table thead th{background-color:#fff; height:50px; color:#292929; font-size:13px; line-height:18px; font-weight:normal;}
#popup_wrap .allergy_wrapper .food_table table thead th.hide{font-size:0; opacity:0; display:block;}
#popup_wrap .allergy_wrapper .food_table table tbody{display:none;border-bottom:1px solid #ebebeb;min-height:1200px;}
#popup_wrap .allergy_wrapper .food_table table tbody tr:nth-child(odd){background-color:#f6f6f6}
#popup_wrap .allergy_wrapper .food_table table tbody th{color:#009223; font-size:13px; line-height:18px; font-weight:normal;width:105px !important;}
#popup_wrap .allergy_wrapper .food_table table tbody td{height:50px; text-align:center; font-size:13px; color:#292929;border-left:1px solid #ebebeb;}

#popup_wrap .allergy_wrapper .a01{background:url(../images/common/icon_allergy01.png) 0 0 no-repeat; width:12px; height:12px; display:inline-block; vertical-align:middle;}
#popup_wrap .allergy_wrapper .a02{background:url(../images/common/icon_allergy02.png) 0 0 no-repeat; width:14px; height:14px; display:inline-block; vertical-align:middle;}

#popup_wrap .allergy_wrapper .caution {padding:30px 0 20px; font-size:13px; color:#999;text-align: center;}



/*****************************************************************************************************************************************************************************************************

===================================================================================== 2019 써브웨이 프리오더 =====================================================================================

*****************************************************************************************************************************************************************************************************/
#popup_wrap {border-radius:20px; padding:0;}
#popup_wrap_wh{background-color:#fff; padding:40px 50px; border-radius:30px; overflow:hidden; width: 100%; box-sizing: border-box;}
#popup_wrap_wh h1.title{font-size:30px; color:#009223; font-weight:300; text-align:center; letter-spacing:-0.05em;line-height: 30px;padding-bottom: 30px;position: relative; margin-bottom: 50px;}
#popup_wrap_wh h1.title:after {content: ''; position: absolute;bottom: 0;left: 0;width: 100%;height: 5px;background-color: #009223}

#popup_wrap_wh h1.title.v2{margin-bottom: 47px; color: #292929; font-size: 30px; font-weight: bold;line-height: 1.4}
#popup_wrap_wh h1.title.v2 strong{display:inline-block;color :#ff8300;}

#popup_wrap .popup_content{border-radius:0;}

/* 팝업 2019 :: 회원가입여부 확인 결과 팝업 */
#popup_wrap_wh .join_status_cont .popup_content .notify { position:relative; padding:40px 45px 36px; text-align:center; background:#f6f6f6;}
#popup_wrap_wh .join_status_cont .popup_content .notify:before { content:''; display:inline-block; margin-bottom:25px; width:68px; height:68px; background:url(../images/common/icon_notice02.png) no-repeat;}
#popup_wrap_wh .join_status_cont .popup_content .notify p { font-size:20px; line-height:36px; font-weight:300; color:#666666}
#popup_wrap_wh .join_status_cont .popup_content .btn_area { margin-top:70px;}
#popup_wrap_wh .join_status_cont .popup_content .join_possible .txt { font-size:20px; text-align:center; color:#666666;}
#popup_wrap_wh .join_status_cont .popup_content .join_possible .mbs_info { margin-top:37px; padding:30px 0; text-align:center; background:#f6f6f6;}
#popup_wrap_wh .join_status_cont .popup_content .join_possible .mbs_info .inner_area { display:inline-block;}
#popup_wrap_wh .join_status_cont .popup_content .join_possible .mbs_info dl { overflow:hidden;}
#popup_wrap_wh .join_status_cont .popup_content .join_possible .mbs_info dl + dl { margin-top:15px;}
#popup_wrap_wh .join_status_cont .popup_content .join_possible .mbs_info dl dt { float:left; color:#292929; font-weight:bold}
#popup_wrap_wh .join_status_cont .popup_content .join_possible .mbs_info dl dd { float:left; margin-left:30px; color:#292929; }

/* 원산지정보 */
#popup_wrap.new_style .country_origin_wrapper{padding:12px 0 12px;}

/* 알레르기정보 */
#popup_wrap.new_style .allergy_wrapper .scrollwrapper {height:600px;}
#popup_wrap.new_style .allergy_wrapper .food_tab ul li {box-sizing:border-box; width:20%;}
#popup_wrap.new_style .allergy_wrapper .food_tab ul li:nth-child(4n+1) {/*width:250px;*/}

/* My-sub > 즐겨찾는 매장 팝업 */
.store .title{text-align: left; padding-bottom: 25px;position: relative; margin-bottom: 25px;}
.store .title:after {content: ''; position: absolute;bottom: 0;left: 0;width: 100%;height: 5px;background-color: #009223}
.store .title h1 {font-size:30px; color:#009223; font-weight:300; letter-spacing:-0.05em; line-height: 30px; vertical-align: middle; display: inline-block;}
.store .state {font-size: 13px; font-weight: 300; color: #fff; letter-spacing: -0.05em; display: inline-block; border-radius: 15px; background-color: #009223; padding: 4px 10px 6px;vertical-align: middle;position: relative; margin-right: 10px;}
.store .bookmark {float: right; font-size: 0; width: 22px; height: 22px;background: url(../images/mypage/icon_bookmark.png)no-repeat; margin: 4px 0;}
.store .store_info {margin-top: 10px; min-height: 25px; overflow: hidden;}
.store .store_info:first-child {margin-top: 0}
.store .store_info dt {float: left; color: #999; letter-spacing: -0.05em; width: 105px; margin-bottom: 5px;}
.store .store_info dd {float: left; color: #292929; letter-spacing: -0.04em; width: 535px;}
.store .store_info dd .badge {font-size: 13px; color: #666; letter-spacing: -0.05em; display: inline-block; border-radius: 15px; border:1px solid #666; padding: 3px 10px 5px;vertical-align: middle;margin: 0 3px 6px 0;}
.store .store_info dd .badge ~ .badge {}
.store .store_info dd .badge:nth-child(7n+1) {}
.store .store_info dd .badge:nth-child(n+8) {}
.store .store_map {margin-top: 10px; width: 100%; height: 376px; position: relative; overflow: hidden;}
.store .store_map > img {width: 640px; height: 376px;}
.store .store_map .store_pin {width: 40px; height: 56px; position: absolute; z-index: 10;}
.store .store_map .store_pin:before {background-color:rgba(88, 88, 88, 0.6); content:''; display:block; border-radius:50%; position:absolute; left:0; right:0; bottom:0; margin:0 auto; animation:select_store_shadow 0.5s ease-in-out alternate infinite; height:10px; width:40px;}
.store .store_map .store_pin i {display: block; position: relative; animation:select_store 0.5s ease-in-out alternate infinite; margin-top:-5px; z-index: 11; }
.store .store_map .store_pin i img {font-size:0; line-height:0; height:100%; width:100%;}
@keyframes select_store {
	0% {margin-top:-3px;}
	100% {margin-top:-8px;}
}
@keyframes select_store_shadow {
	0% {width:30px;}
	100% {width:26px;}
}
/* My-sub > 쿠폰 팝업 */
.coupon {padding: 48px 0;}
.coupon .popup_content {text-align: center;}
.coupon .popup_content p {font-size: 20px; font-weight: 300; color: #666; letter-spacing: -0.07em;}
.coupon .popup_content .btn_area {margin-top: 50px;}

/* 팝업 2019 :: 비밀번호 변경 팝업 */
#change_pw{overflow: hidden;}
#popup_wrap_wh .chage_pw .txt { margin-bottom:30px; font-size:20px; line-height:32px; letter-spacing:-1px; color:#666666; text-align:center; }
#popup_wrap_wh .chage_pw .write_info_wrap .input_set dl dd { width: calc(100% - 120px);}
#popup_wrap_wh .chage_pw .write_info_wrap .input_set dd .form_text{width:180px}
#popup_wrap_wh .chage_pw .write_info_wrap .input_set dd:before{content:'';display:block;clear:both;}
#popup_wrap_wh .chage_pw .write_info_wrap .input_set .pw_check { display:inline-block;}
#popup_wrap_wh .chage_pw .write_info_wrap .input_set .pw_check.miss { float: right; color:#ff4b06; }
#popup_wrap_wh .chage_pw .write_info_wrap .p_notice { position:relative; margin:16px 0 35px; padding-left:20px; font-size:16px; line-height:26px; color:#999999;}
#popup_wrap_wh .chage_pw .write_info_wrap .p_notice:before { content:'※'; position:absolute; left:0; top:0;}
#popup_wrap_wh .chage_pw .btn_area { margin:37px 0 20px;}

#popup_wrap_wh .dormant{padding-bottom: 30px;text-align: center;}
#popup_wrap_wh .dormant h1.title{margin-bottom:20px;line-height:40px;font-weight:bold;padding-bottom:20px;}
#popup_wrap_wh .dormant p {line-height: 1.5;letter-spacing: -0.025em;}
#popup_wrap_wh .dormant .wrapper{padding-bottom: 40px;}
#popup_wrap_wh .dormant .wrapper .long_txt{text-align: left;}
#popup_wrap_wh .dormant .btn_area a{width: 130px;}
#popup_wrap_wh .dormant .alarm_table{text-align: center;border-bottom: 1px solid #009223;}
#popup_wrap_wh .dormant .alarm_table table{font-size: 18px;}
#popup_wrap_wh .dormant .alarm_table table th{color:#009223;padding:0 0 10px;line-height: 1;letter-spacing: -0.025em;}
#popup_wrap_wh .dormant .alarm_table table td{color:#666;border-top: 1px solid #e5e5e5;padding:10px 0;line-height: 1;letter-spacing: -0.025em;}
#popup_wrap_wh .dormant .caution{font-size: 18px;color:#999;padding-top: 20px;text-align: center;}

#popup_wrap.new_style .allergy_wrapper.fixed {padding-top:160px;}
#popup_wrap.new_style .allergy_wrapper.fixed .scrollwrapper {height:450px;padding-top:200px;box-sizing: border-box;}
#popup_wrap.new_style .allergy_wrapper.fixed .food_tab{position:fixed;top:108px;left:20px;width:calc(100% - 40px);background:#fff;margin:0;box-sizing:border-box;transition:top .8s ease, opacity 0.2s 0s;}
#popup_wrap.new_style .allergy_wrapper.fixed .food_table {min-height: 600px;box-sizing: border-box;}
#popup_wrap.new_style .allergy_wrapper.fixed .food_table .theader{position:fixed;left:87px;top:205px;width:calc(100% - 110px);display:table;box-sizing:border-box;table-layout:fixed;font-size:10px;box-sizing:border-box}
#popup_wrap .allergy_wrapper.fixed .mCSB_1_dragger_vertical{min-height:400px;}